<!-- 新闻页 -->
<template name="news">
	<div class="container-pages">
		<div class="container-news">
			{{>Template.dynamic template=news}}
			<div class="right">
				<div class="right-title">
					<span>近期新闻</span>
				</div>
				<div class="right-content">
					{{#each policy}}
						<a href="" title=""><p>{{text}}</p></a>
					{{/each}}
					<p class="more"><a href="" title="">更多...</a></p>
					<div class="weixinma">
						<p>扫描二维码关注微信</p>
						<img src="/image/home/foucs.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="one">
	<div class="left">
		<div class="left-title">
			<span>APEC商务签证服务</span>
			<time>2015-11-12</time>
		</div>
		<div class="left-content">
			<div class="allimg">
				<img src="/image/news/1/1.png" alt="">
				<img src="/image/news/1/2.png" alt="">
			</div>
		</div>
	</div>
</template>
<template name="two">
	<div class="left">
		<div class="left-title">
			<span>[园区福利团] 120万+公园家，抱团买房啦！</span>
			<time>2015-10-29</time>
		</div>
		<div class="left-content">
			<p>房价一直妥妥的飞涨，朋友，你有没有觉得很忧伤？</p>
			<p>每天奋力打拼，你是不是也想有一个温暖的家？</p>
			<p>创业园旁，“鲜肉盘”登场，小编帮你踩踩盘。</p>
			<div class="imgleft">
				<img src="/image/news/2/1.png" alt="">
			</div>
			<p>【安贝尔花园】，距离莘莘创业园咫尺之遥！上班不用急匆匆。</p>
			<p>旭辉、恒基、龙湖三大品牌开发商共同出品，低密生活、海派风情，腔调浓浓哒~</p>
			<p class="pweight">丰富资源，生活多一份悠闲</p>
			<p>车墩幼儿园就在项目旁，家有小天使的朋友，过个马路就到学校，就是可以多睡、多睡一会。</p>
			<p>项目自带社区商业，生活方便，一应俱全。回家顺便买个菜，也是不错的。</p>
			<p class="pweight">多重绿色景观，近享健康生态</p> 
			<p>仅一街之隔的松南郊野公园，总面积相当于十七个世纪公园大小，呼吸之中，尽是森林鲜氧；毗邻西上海高尔夫球场，双重私家景观，奢享品质生态，近享运动闲情。</p> 
			<p class="pweight">多维交通网络 板块崛起在即</p> 
			<p>紧邻22号线3站直达上海南站，6站可达徐家汇，T3有轨电车(规划中)直接接驳9号线；沪杭高速车墩出口直达，G15沈海高速（在建中）快速链接繁华市心，出入畅通无阻，快速连接松江新城商圈、莘庄商圈、老闵行商圈，目前的价格洼地，板块腾飞在即。 </p> 
			<p class="pweight">89m2三房两卫，75m2舒适两房</p> 
			<p>【安贝尔花园】83%的高得房率，全一梯两户尊贵设计，户型方正、南北通透、全明厨卫，同等户型面积下，更大的满足您对住宅功能的需求，杜绝一切居住空间浪费。</p> 
			<p>89m2三房两卫，3开间朝南，厨房、餐厅、客厅通透方正，拥有豪宅般的感受。</p> 
			<p>75m2舒适两房，2开间朝南，大尺度阳台，南北飘窗，让生活更舒心。</p> 
			<p>两房三房自由选，接爸妈来团圆不成问题！</p> 
			<p class="pweight">--项目最新动态--</p> 
			<p>意向客户至现场办理电商团购，即可享受40000元抵80000元总价优惠。</p> 
			<p>89m2创新三房两卫，75m2舒适2房，即将发售，敬请期待！</p> 
			<p>参与[园区福利团]，再享团购大惊喜！火速报名吧！</p> 
			<p class="pweight">团购联系人：邓俊峰  13917114115</p> 
		</div>
	</div>
</template>
<template name="three">
	<div class="left">
		<div class="left-title">
			<span>莘莘公司三八妇女节活动</span>
			<time>2013-03-13</time>
		</div>
		<div class="left-content">
			<p>阳春三月，我们迎来了第103周年的三八国际劳动妇女节。为庆祝这一有意义的节日，在公司领导的关心支持及精心安排下，3月8日下午，会同第五税务所、第九税务所的女性所长及女性专管员一起，在车墩影视乐园的叁O文化创意产业园，开展了庆祝三八妇女节的联谊活动。</p>
			<p>活动的气氛非常热闹，大家在忙碌的工作之余更多了一份轻松和快乐，在开心的聊天中拉近了彼此间的距离。大家手捧鲜花分别进行合影，陈总及两位副总邀请大家参观了叁O文化创意产业园的办公室及其画廊。叁零•SHANGHAI以上世纪30年代老上海的独特风情为基础，综合上海影视乐园车墩基地人文环境和地理位置，融入全新理念，有效打造集办公、旅游、购物、娱乐、休闲为一体的主题式创意园。接着，又带领大家参观了上海影视乐园里的上影服道选粹展馆，大家仿佛走近了上世纪30年代，一起重温经典老上海，品味十里繁华梦。</p>
		</div>
	</div>
</template>

<template name="four">
	<div class="left">
		<div class="left-title">
			<span>莘莘学子创业园”改造专题研究会举行</span>
			<time>2011-05-11</time>
		</div>
		<div class="left-content">
			<p>5月6日，“莘莘学子创业园”领导小组第二次(扩大)会议召开，对园区改造、功能提升再次进行专题研究。区长孙建平指出，通过改造提升，“莘莘学子创业园”将成为松江转型发展的示范区，松江经济发展重要的经济增长点。“张江政策”将在“莘莘学子创业园”得以充分的发挥，公益性孵化项目的落地、开放式合作开发机制的试行，都将为园区进一步发展注入新的活力。</p>
			<p>孙建平强调，此项改造提升对园区的转型发展意义重大。必须以规划引导，用规划固化目标，并形成阶段性的计划和目标稳步推进。区政府及相关职能部门要重点聚焦该项目的推进工作，并给予一定的财政支持和行政支援，确保园区改造提升工作顺利实施。区发改委、经委、规土局等相关职能部门负责人出席会议。</p>
		</div>
	</div>
</template>

<template name="five">
	<div class="left">
		<div class="left-title">
			<span>松江车墩镇4亿元打好国家级开发区“科技牌”</span>
			<time>2011-04-25</time>
		</div>
		<div class="left-content">
			<p>今后5年内，车墩镇将投入4亿元用于莘莘学子创业园整体改造，对于区内现有的120家企业1/3关停、1/3转移、1/3提升，通过打好国家级高新技术园区这张“王牌”，使园区成为我区“调结构、转方式”先行先试的示范基地。不仅如此，园区还将与新批准的上海市浦江源生产性服务业功能区复合、叠加，使之享受国家级科技园区与市级服务业功能区的双重政策效应。</p>
			<p>莘莘学子创业园是我区唯一经科技部批准设立的国家高新技术产业开发区。由于各种原因，国家级开发区的品牌优势一直未被充分利用，高新园区的特点不明显，作用不突出。目前，区内共有120多家企业，企业规模普遍较小、产业层次低、附加值低，且业态杂，对环境也有很大影响，与国家高新技术开发产业区的要求不相匹配。 </p>
			<p>根据规划，莘莘学子创业园实施区块改造后，将导入新能源、新材料、生物科技为主的高新技术企业和先进制造业，同时辅以工业设计、软件开发、文化创意为主的生产性服务业，以及无生产环节以销售结算为主的总部企业。</p>
			<p>据介绍，在具体实施改造中，园区将以计划建设的科技孵化中心为平台，建设一个科技企业孵化、调结构示范和高新技术产业化基地。同时，充分利用合作公司交大科技公司的优势，引进一批高新成果转化成熟项目，促进园区成为一个高新技术产业的培育和集聚区，对符合产业导向的，鼓励和引导企业进行二次创业，开展技术升级和产品转型，提升企业能级，逐步达到高新技术企业标准的要求；对于劣势企业，坚决实施“腾笼换鸟”。 </p>
			<p>此外，园区还将加强与珠江公司的合作，努力打造一个生产性服务基地，发展以技术、管理、采购、销售、营运和结算中心等服务性产业，引进与总部经济相关的各种商务服务，包括财务服务、咨询服务、公共关系服务、营销服务、技术服务等后台支持服务。而通过与浦江源生产性服务业功能区的功能叠加，莘莘学子创业园的面积将由0.3平方公里，扩展到1.5平方公里，“今后三至五年来，新园区将成为我区生产性服务业的集聚地。”车整、产业能级升级、墩镇有关负责人表示。据悉，届时，园区完成区块改造后，预期可实现年销售收入200亿元，比目前提高16倍以上；实现利润50亿元，新增税收12亿元；引进高新技术人才2500人，可解决就业4000人。 </p>
			<p>另据车墩镇相关规划，通过利用好国家级开发区的品牌优势，莘莘学子创业园的政策叠加效应，还将覆盖到车墩工业区南区的5平方公里。</p>
		</div>
	</div>
</template>