<template name="header">
	<!-- HEADER -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="/" title=""><img src="/image/home/logo.png" alt="莘莘学子logo"></a>
			</div>
			<ul>
				<li>园区概况
					<ul>
						<li><a href="/overview" title="">园区简介</a></li>
						<li><a href="/overview/develop" title="">发展历程</a></li>
						<li><a href="/overview/total" title="">总体规划</a></li>
						<li><a href="/overview/functions" title="">部门职能</a></li>
						<li><a href="/overview/roate" title="">交通路线</a></li>
						<li><a href="/overview/contactus" title="">联系我们</a></li>
					</ul>
				</li>
				<li>公司注册
					<ul>
						<li><a href="/overview" title="">注册流程</a></li>
						<li><a href="/overview" title="">优惠政策</a></li>
						<li><a href="/overview" title="">特色服务</a></li>
						<li><a href="/overview" title="">客户须知</a></li>
					</ul>
				</li>
				<li>企业之家
					<ul>
						<li><a href="/cohome" title="">企业展示</a></li>
					</ul>
				</li>
				<li>企业服务
					<ul>
						<li><a href="/overview" title="">教育培训</a></li>
						<li><a href="/overview" title="">人才服务</a></li>
						<li><a href="/overview" title="">常见问题</a></li>
					</ul>
				</li>
				<li>扶持政策
					<ul>
						<li><a href="/support/search" title="">就业政策</a></li>
						<li><a href="/support/download" title="">相关下载</a></li>
					</ul>
				</li>
				<li>媒体中心
					<ul>
						<li><a href="/media/parknews" title="">园区新闻</a></li>
						<li><a href="/media/parknotice" title="">园区公告</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</header>
</template>