<template name="header">
	<!-- HEADER -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="/" title=""><img src="/image/home/logo.png" alt="莘莘学子logo"></a>
			</div>
			<ul>
				<li>园区概况
					<ul>
						<a href="/overview" title=""><li>园区简介</li></a>
						<a href="/overview/develop" title=""><li>发展历程</li></a>
						<a href="/overview/total" title=""><li>总体规划</li></a>
						<a href="/overview/functions" title=""><li>部门职能</li></a>
						<a href="/overview/roate" title=""><li>交通路线</li></a>
						<a href="/overview/contactus" title=""><li>联系我们</li></a>
					</ul>
				</li>
				<li>公司注册
					<ul>
						<a href="/coregister" title=""><li>注册流程</li></a>
						<!-- <li><a href="/coregister" title="">优惠政策</li></a> -->
						<a href="/coregister/special" title=""><li>特色服务</li></a>
						<a href="/coregister/information" title=""><li>客户须知</li></a>
					</ul>
				</li>
				<li>企业之家
					<ul>
						<a href="/cohome" title=""><li>企业展示</li></a>
					</ul>
				</li>
				<!-- <li>企业服务
					<ul>
						<li><a href="/overview" title="">教育培训</a></li>
						<li><a href="/overview" title="">人才服务</a></li>
						<li><a href="/overview" title="">常见问题</a></li>
					</ul>
				</li> -->
				<li>扶持政策
					<ul>
						<a href="/support/search" title=""><li>就业政策</li></a>
						<a href="/support/download" title=""><li>相关下载</li></a>
					</ul>
				</li>
				<li>媒体中心
					<ul>
						<a href="/media/parknews" title=""><li>园区新闻</li></a>
						<a href="/media/parknotice" title=""><li>园区公告</li></a>
					</ul>
				</li>
			</ul>
		</div>
	</header>
</template>