<!-- 首页 -->
<template name="home">
	<div class="container-slider">
		<div class="container">
			<div class="my-slider">
				<ul>
					<li>
						<img src="/image/home/banner/banner1.jpg" alt="">
					</li>
					<li><img src="/image/home/banner/banner1.jpg" alt=""></li>
					<li><img src="/image/home/banner/banner1.jpg" alt=""></li>
					<li><img src="/image/home/banner/banner1.jpg" alt=""></li>
					<li><img src="/image/home/banner/banner1.jpg" alt=""></li>
				</ul>
			</div>
		</div>
		<div class="my-nav">
			<nav class="unslider-nav">
			  <ol>
			    <li data-slide="0">1</li>
			    <li data-slide="1">2</li>
			    <li data-slide="2">3</li>
			    <li data-slide="3">4</li>
			    <li data-slide="4">5</li>
			  </ol>
			</nav>
		</div>
		
	</div>
	<div class="container-content">
		<div class="container">
			<div class="left">
				<div class="news">
					<div class="content-title">
						<div>
							<span>园区新闻</span><span>|</span><span>园区公告</span>
						</div>
						<div>
							
						</div>

					</div>
				</div>
				<div class="window">
					
				</div>
				<div class="transfer">
					
				</div>
			</div>
			<div class="right">
				
			</div>
		</div>
	</div>
</template>
