<!-- 园区概况 -->
<template name="overview">
	<div class="container-pages">
		<div class="container-overview">
			<div class="gap">
				<div class="overview-title">
					<div class="overview-img">
						<img src="/image/home/cowin/meilinge.jpg" alt="园区概况">
					</div>
					<div class="title-content">
						<p>上海莘莘学子创业园</p>
						<p>成立时间23年</p>
						<p>地址：松江区车墩镇</p>
					</div>
				</div>
				<div class="overview-header">
					<ul>
						<li><a href="/overview" class="click">园区简介</a></li>
						<li><a href="/overview/develop">发展历程</a></li>
						<li><a href="/overview/total">总体规划</a></li>
						<li><a href="/overview/functions">部门职能</a></li>
						<li><a href="/overview/roate">交通路线</a></li>
						<li><a href="/overview/contactus">联系我们</a></li>
					</ul>
				</div>
				{{>Template.dynamic template=overview}}
			</div>
		</div>
	</div>
</template>
<!-- 园区简介 -->
<template name="profile">
	<div class="overview-content">
		<p>上海莘莘学子创业园创建于1993年，位于上海西南投资热土——松江区车墩镇，是上海大学高科技开发区的延伸和辐射，经国家科学技术部（98）029号文批准为国家级“一区六园”的组成部份，是全国第一家留学人员创业基地，旨在为海内外高科技人才、投资者提供理想的创业发展园地。“上海莘莘学子创业园”是由已故著名科学家、原全国政协副主席钱伟长教授提词。</p>
		<p>上海莘莘学子创业园也是松江区唯一的一家国家级高科技园区，同时隶属松江区低成本试点商务园区内，既享有普通园区应有的扶持政策，同时享有张江高科技政策的叠加扶持，在园区内落户经营的实体型企业更可同步享受低成本试点商务园区的相关政策，在用工、用电等方面可进行低成本运作。</p>
		<p>园区目前规划面积1.5平方公里，东临嘉金高速公路、320国道线，南贴申嘉湖高速线，北面紧靠松江出口加工区，西经5分钟与沪松公路接线，地理位置优越，交通线路便捷，驱车至上海徐家汇仅需25分钟，经高速至浦东机场30分钟便可直达，同时更有十几条公交线路从早上6：00至晚上12：00均可直达园区门口。</p>
		<p>园区自创建以来始终秉持“客户第一”的服务宗旨，十七年来始终扮演着创业者的摇篮、企业家的保护伞的角色，哺育一批又一批的小企业茁壮成长，走出国门、走向世界，在行业内遥遥领先，在为企业盈利的同时，也为社会、为地方财政作出卓越贡献。目前，园区注册企业累计达4000余户，年纳税2个多亿，园区自身也在扶持企业成长的同时不断在硬环境与软环境上提升、完善、创新，目前园区有36名办公人员，分设招商开发部、管理部、财务代理所、行政物业部、园区财务部、市区办事处等6个职能部门，功能完善、服务成熟、手续简便、收费低廉，数年来一贯得到客户的好评、社会的肯定，也一直是松江区获得表彰的优秀经济小区。</p>
		<p>在当前竞争激烈，经济形势动荡，商务成本不断提高的社会环境下，我园区想为客户提供的不仅是一条龙快捷办证服务，同时更旨在指导小企业如何少走弯路，顺利进入运营轨道，大企业如何充分享受专项扶持，得以做强做大。在新的经济形势下扮演好企业管家的角色，帮助、协调企业在发展中存在的问题，为企业提供特色服务，引导企业按政府导向、经济发展趋势，不断修正、提升企业经营策略与思路，在市场上始终保持良好的竞争力。</p>
		<p>在这里园区总经理携全体员工诚挚地欢迎各界有志之士来园区考察、垂询、投资、发展，让我们有机会服务您，辅助您和您的企业成就一番事业。</p>
	</div>
</template>
<!-- 发展历程 -->
<template name="develop">
	<div class="develop-content">
		
	</div>
</template>
<!-- 总体规划 -->
<template name="total">
	<div class="overview-content">
		<p>上海莘莘学子创业园创建于1993年，园区经历了10几年的风雨历程，发展形成了一定的规模和效应。上海莘莘学子创业园作为松江区唯一一家国家级高新技术产业开发区，园区新一轮的发展已经纳入松江区“十二五”发展规划，在“十一五”期末和“十二五”规划开局之时，上海莘莘学子创业园的发展代表了松江在新一轮经济社会发展中产业能级、经济结构调整的方向，要全方位、大规模、集中调整，努力把上海莘莘学子创业园打造成松江“调结构、转方式”先行先试的示范基地，高新技术产业的发展高地。</p>
		<p class="pweight">园区新一轮的发展目标</p>
		<p class="list">1、2012年重新起步阶段——完成基础设施综合配套和创新创业平台建设，完成交通、生产生活服务功能；</p>
		<p class="list">2、2015年快速腾飞阶段——形成竞争优势，提升经济总量、质量和效益，提高创新和转化能力，改善产业结构，发展发展方式；</p>
		<p class="list">3、2020年扩张提升阶段——扩大开发区范围，完善创新体系，增强自主创新能力，优化产业结构，形成集群优势。</p>
		<p class="pweight">园区发展的产业定位</p>
		<p class="list">装备制造产业</p>
		<p class="list">生物医药产业</p>
		<p class="list">新能源产业</p>
		<p class="list">生产性服务业</p>
		<p class="list">文化创意产业</p>
	</div>
</template>
<!-- 部门职能 -->
<template name="functions">
	<div class="overview-content">
		<p class="title">机构职责</p>
		<div class="list">		
			<p>（一）、贯彻实施国家法律、法规和政策，执行县委、县政府的决策和指示，依法制定园区管理办法并组织实施。</p>
			<p>（二）、在忠县城乡总体规划及乌杨镇等乡镇城乡总体规划下，编制全县工业园区建设规划，制订园区产业发展及项目实施规划。</p>
			<p>（三）、坚持科学的产业导向，抓好招商引资工作，做好进园项目的审核及实施工作。</p>
			<p>（四）、负责园区基础设施和公用设施的建设、管理、环境保护及卫生工作。</p>
			<p>（五）、协助国土部门及园区所涉乡镇政府做好园区征地拆迁、补偿安置及信访稳定工作。</p>
			<p>（六）、协助行业主管部门做好园区工程建设、企业安全生产、节能减排和环境保护等相关工作。</p>
			<p>（七）、对工业园区所涉乡镇政府、事业、企业单位进行协调和服务。</p>
			<p>（八）、行使县委、县政府授予的其他职权，完成县委县政府布置的其他工作。</p>
		</div>
		<p class="title">内设机构</p>
		<p class="light-title">(一)综合科</p>
		<div class="list">
			<p>1.负责综合性材料的起草、新闻报道、宣传以及园区管委会的会议准备工作；</p>
			<p>2.负责各类文件、传真、信函、合同等公文的登记、传递、归档、机要保密和档案管理工作；</p>
			<p>3.负责园区管委会及办公室的印信管理；</p>
			<p>4.负责机关党建、群团、组织、纪检监察、计划生育、人事、劳动及编制管理工作；</p>
			<p>5.协助机关领导班子开展政治宣传及形势教育工作，负责精神文明、爱国卫生等活动的创建工作；</p>
			<p>6.负责与市县相关部门的联络、本机关内部科室的协调以及除业务科室以外的接待工作；</p>
			<p>7.负责园区办行政应诉和行政复议的组织应对工作；</p>
			<p>8.负责园区安全生产应急预案的编制及园区范围内的安全值班和应急值守工作，及时掌握园区企业、项目安全生产情况或受灾情况，加强同相关部门的沟通联系，做好应急衔接工作；</p>
			<p>9. 综合协调管理园区信访稳定、社会治安综合治理及安全保卫工作；</p>
			<p>10.负责本单位工作目标任务督查工作；</p>
			<p>11.负责值班、车辆、物业、食堂管理等日常事务和后勤保障工作；</p>
			<p>12.负责督促并协调做好领导或上级部门交办的其他工作。</p>			
		</div>
		<p class="light-title">(二)、土地征管科</p>
		<div class="list">
			<p>1.负责园区的征地拆迁、补偿安置及土地报件等相关工作；</p>
			<p>2.研究制定土地管理事业发展规划，制定各类中长期用地需求计划，做到土地总需求量与总供求量的基本平衡；</p>
			<p>3.负责汇同有关部门制定园区土地定级、估价标准，建立健全土地统计制度和土地的动态信息监测体系；</p>
			<p>4.负责调查处理园区土地权属纠纷，接待处置园区所涉征地拆迁及补偿安置的相关信访稳定工作；</p>
			<p>5.负责园区土地的征用、划拨、出让工作；</p>
			<p>6.负责园区法制建设工作，参与园区各类合同的洽谈、审查、执行及法律事务处理；</p>
			<p>7.负责入园企业交付土地综合价款的收取和土地交付工作；</p>
			<p>8.负责征地拆迁、补偿安置等相关档案的收集、整理、归档工作；</p>
			<p>9.负责各级领导和上级主管部门交办的其他工作。</p>			
		</div>
		<p class="light-title">（三）规划建设科</p>
		<div class="list">
			<p>1.负责园区总体规划、分区规划、详细规划及各项建设性专项规划的编制及审批论证；</p>
			<p>2.负责园区自建项目预结算、招投标及施工队伍资格审查等工作；</p>
			<p>3.负责园区自建项目工程实施及管理（含园区重点项目建设），负责建筑工程的施工方案、工程增减量的审查，对工程质量、施工安全及进度进行监督管理；</p>
			<p>4.负责园区征地范围内的管线搬迁和入园企业红线范围外的管线建设；</p>
			<p>5.根据规划和园区发展的实际需要，制订园区基础设施建设方案；</p>
			<p>6.协助入园企业做好工程建设的质量、进度及安全管理；</p>
			<p>7.负责入园企业工程建设所涉及的信访稳定、民工工资发放监督及施工水电费收取工作；</p>
			<p>8.负责园区自建工程和入园企业建设项目报建工作；</p>
			<p>9.负责入园企业施工建设方案审查工作，组织相关部门完成入园企业用地放线和自建工程的综合验收工作；</p>
			<p>10.负责园区范围内市政设施、环境卫生、园林绿化的维护管理及民爆物品管理工作；</p>
			<p>11.负责园区各类规划、建设档案资料的收集、整理、归档工作；</p>
			<p>12.负责各级领导和上级主管部门交办的其他工作。</p>
		</div>
		<p class="light-title">（四）招商发展科 </p>
		<div class="list">
			<p>1.负责园区产业发展规划、招商引资规划、国民经济中长期发展规划、经济综合计划和年度经济发展计划的编制工作；</p>
			<p>2.负责园区招商引资网络体系建设，基础信息资料收集、项目引进洽谈及协议签订工作；</p>
			<p>3.负责园区各项计划统计工作、重要经济指标专题调研工作和经济运行分析工作；</p>
			<p>4.负责园区工业及民营经济工作；</p>
			<p>5.负责园区整体形象包装策划及招商广告宣传；</p>
			<p>6.组织园区科技创新及新技术企业的申报评审工作；</p>
			<p>7.负责投产企业人力资源、产品质量、技术创新、节能减排、环境保护及安全生产等工作；</p>
			<p>8.负责园区各类企业的日常管理与联系工作，协调解决企业生产经营中的困难、问题和信访稳定工作，并为企业做好配套服务工作，特别是企业水、电、气等生产要素的保障协调工作；</p>
			<p>9.负责外来投资企业相关的咨询服务和外经项目的开发研究工作；</p>
			<p>10.负责各级领导和上级主管部门交办的其他工作。</p>
		</div>
		<p class="light-title">（五）资产财务科</p>
		<div class="list">
			<p>1.负责筹集园区各项建设资金，并对使用情况进行跟踪监督，制定园区资金管理办法及财务制度；</p>
			<p>2.负责编制及组织执行园区财政预决算，管理各项财政收入，合理安排财政支出；</p>
			<p>3.负责园区国有资产、基本建设财务和对外投资管理；</p>
			<p>4.负责银行贷款和其他单位融资的财务管理、贷款项目的经费管理、评估、论证、监督、检查工作；</p>
			<p>5.负责园区平台公司的业务工作，并负责制定或实施园区政府采购制度与办法；</p>
			<p>6.负责园区人员医保、住房公积金和事业编制人员养老保险金的办理工作及园区财务收支工作；</p>
			<p>7.协助企业融资并为企业提供政策咨询和相关资金的服务工作；负责园区提供担保支持的企业的相关资金的监督管理工作；</p>
			<p>8.负责入园企业土地出让资金的催收管理工作；</p>
			<p>9.负责园区标准厂房、门面及临时用房营运管理；</p>
			<p>10.负责各级领导和上级主管部门交办的其他工作。</p>
		</div>
	</div>
</template>
<!-- 交通路线 -->
<template name="roate">
	<div class="overview-content">
		<div class="overview-roate">
			<div class="overview-img">
				<img src="/image/overview/roate.png" alt="园区概况">
			</div>
			<div class="title-content">
				<p>莘莘学子创业园位于上海人文发源地--有"上海之根"美誉的松江城，地处松江工业重镇--车墩镇。</p>
				<p>园区紧靠320国道线、嘉金高速公路、北松公路、沪金铁路线，距市中心25公里，至虹桥机场20公里，至沪杭高速公路新桥出入口处3公里。</p>
				<p>周围交通纵横贯穿，十分便捷。</p>
				<p>创业园东临上海车墩影视乐园，西望松江大学城、佘山风景区，北靠上海松江出口加工区，南毗黄浦江母亲河，是文化旅游者观光胜地，更是国内外投资者创业的理想园地。</p>
			</div>
		</div>
		<p class="title">自驾</p>
		<p class="light-title">浦东客户</p>
		<p>走申嘉湖高速（S32）从浦东机场口上——松卫北路口下——转入北松公路（往闵行方向行驶）——创嘉路到底（上海莘莘学子创业投资有限公司）</p>
		<p class="light-title">浦西客户</p>
		<p>线路1：走沪昆高速（G60）从莘庄口上——新桥口下——转入新车公路——北松公路右转（松江方向）——紧接着左转入创嘉路到底（上海莘莘学子创业投资有限公司）</p>
		<p>线路2：从莘庄方向过来客户——走北松公路（往松江方向）——到车墩十字路口左转入创嘉路到底（上海莘莘学子创业投资有限公司）</p>
		<p class="light-title">松江客户</p>
		<p>江城区——北松公路（往闵行方向）——接近车墩十字路口右转入创嘉路到底（上海莘莘学子创业投资有限公司）</p>
		<p class="title">公交</p>
		<p class="light-title">市区客户</p>
		<p>线路1：路铁1号线（锦江乐园站下）——换乘沪金线——车墩站下——创嘉路步行5分钟</p>
		<p>线路2：路铁1号线莲花路站下——换乘莲石线或莲金线、上石线——车墩站下——创嘉路步行5分钟</p>
		<p class="light-title">松江客户</p>
		<p>松江乐都路汽车站乘松江6路或松莘线——车墩站下——创嘉路步行5分钟</p>
		<p>松江乐都路汽车站乘松卫线或松张线——车墩站下——创嘉路步行5分钟</p>
		<p>大学城乘松闵线——车墩站下——创嘉路步行5分钟</p>
	</div>
</template>
<!-- 联系我们 -->
<template name="contactus">
	<div class="overview-content">
		<p class="main weight">副总经理：曹耘  电话：57605368 邮箱：cy@shssxz.com</p>
		<p class="main weight">副总经理：沈渊  电话：57605700 邮箱：sh@shssxz.com</p>
		<p>项目部：57601001 57601754或57601852转805、807、809分机57601001（F）邮箱：xmb@shssxz.com</p>
		<p>管理部：57600982 57601754或57601852转815、816、819分机 邮箱：glb@shssxz.com</p>
		<p>会计服务所：57601029 57601754或57601852转811、812、813、820分机 邮箱：kj@shssxz.com</p>
		<p>财务部：57609297 邮箱：lfm@shssxz.com</p>
		<p>虹桥办：64477001 64477011（F） 地址：虹桥路808号（上海加华商务中心）B501室</p>
	</div>
</template>