<!-- 园区概况 -->
<template name="overview">
	<div class="container-pages">
		<div class="container-overview">
			<div class="overview-title">
				<div class="overview-img">
					<img src="/image/home/cowin/meilinge.jpg" alt="园区概况">
				</div>
				<div class="title-content">
					<p>上海莘莘学子创业园</p>
					<p>成立时间23年</p>
					<p>地址：松江区车墩镇</p>
				</div>
			</div>
			<div class="overview-header">
				<ul>
					<li><a href="/overview" class="click">园区简介</a></li>
					<li><a href="/overview/develop">发展历程</a></li>
					<li><a href="/overview/total">总体规划</a></li>
					<li><a href="/overview/functions">部门职能</a></li>
					<li><a href="/overview/roate">交通路线</a></li>
					<li><a href="/overview/contactus">联系我们</a></li>
				</ul>
			</div>
			{{>Template.dynamic template=overview}}
		</div>
	</div>
</template>
<!-- 园区简介 -->
<template name="profile">
	<div class="overview-content">
		<p>上海莘莘学子创业园创建于1993年，位于上海西南投资热土——松江区车墩镇，是上海大学高科技开发区的延伸和辐射，经国家科学技术部（98）029号文批准为国家级“一区六园”的组成部份，是全国第一家留学人员创业基地，旨在为海内外高科技人才、投资者提供理想的创业发展园地。“上海莘莘学子创业园”是由已故著名科学家、原全国政协副主席钱伟长教授提词。</p>
		<p>上海莘莘学子创业园也是松江区唯一的一家国家级高科技园区，同时隶属松江区低成本试点商务园区内，既享有普通园区应有的扶持政策，同时享有张江高科技政策的叠加扶持，在园区内落户经营的实体型企业更可同步享受低成本试点商务园区的相关政策，在用工、用电等方面可进行低成本运作。</p>
		<p>园区目前规划面积1.5平方公里，东临嘉金高速公路、320国道线，南贴申嘉湖高速线，北面紧靠松江出口加工区，西经5分钟与沪松公路接线，地理位置优越，交通线路便捷，驱车至上海徐家汇仅需25分钟，经高速至浦东机场30分钟便可直达，同时更有十几条公交线路从早上6：00至晚上12：00均可直达园区门口。</p>
		<p>园区自创建以来始终秉持“客户第一”的服务宗旨，十七年来始终扮演着创业者的摇篮、企业家的保护伞的角色，哺育一批又一批的小企业茁壮成长，走出国门、走向世界，在行业内遥遥领先，在为企业盈利的同时，也为社会、为地方财政作出卓越贡献。目前，园区注册企业累计达4000余户，年纳税2个多亿，园区自身也在扶持企业成长的同时不断在硬环境与软环境上提升、完善、创新，目前园区有36名办公人员，分设招商开发部、管理部、财务代理所、行政物业部、园区财务部、市区办事处等6个职能部门，功能完善、服务成熟、手续简便、收费低廉，数年来一贯得到客户的好评、社会的肯定，也一直是松江区获得表彰的优秀经济小区。</p>
		<p>在当前竞争激烈，经济形势动荡，商务成本不断提高的社会环境下，我园区想为客户提供的不仅是一条龙快捷办证服务，同时更旨在指导小企业如何少走弯路，顺利进入运营轨道，大企业如何充分享受专项扶持，得以做强做大。在新的经济形势下扮演好企业管家的角色，帮助、协调企业在发展中存在的问题，为企业提供特色服务，引导企业按政府导向、经济发展趋势，不断修正、提升企业经营策略与思路，在市场上始终保持良好的竞争力。</p>
		<p>在这里园区总经理携全体员工诚挚地欢迎各界有志之士来园区考察、垂询、投资、发展，让我们有机会服务您，辅助您和您的企业成就一番事业。</p>
	</div>
</template>
<!-- 发展历程 -->
<template name="develop">
	
</template>
<!-- 总体规划 -->
<template name="total">
	<div class="overview-content">
		<p>总体规划上海莘莘学子创业园创建于1993年，位于上海西南投资热土——松江区车墩镇，是上海大学高科技开发区的延伸和辐射，经国家科学技术部（98）029号文批准为国家级“一区六园”的组成部份，是全国第一家留学人员创业基地，旨在为海内外高科技人才、投资者提供理想的创业发展园地。“上海莘莘学子创业园”是由已故著名科学家、原全国政协副主席钱伟长教授提词。</p>
		<p>园区新一轮的发展目标</p>
		<p class="list">1.2012年重新起步阶段</p>
		<p class="list">2.2012年重新起步阶段</p>
		<p class="list">3.2012年重新起步阶段</p>
		<p>园区发展的产业定位</p>
		<p class="list">装备制造业</p>
		<p class="list">装备制造业</p>
		<p class="list">装备制造业</p>
		<p class="list">装备制造业</p>
		<p class="list">装备制造业</p>
		<p class="list">装备制造业</p>
	</div>
</template>
<!-- 部门职能 -->
<template name="functions">
	<div class="overview-content">
		<p class="title">机构职责</p>
		<div class="list">		
			<p>(一)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(二)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(三)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(四)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(五)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(六)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(七)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
			<p>(八)、贯彻阿三嗲的啊杀手快递费iuashdoash啊是啊是打那还是嗲</p>
		</div>
		<p class="title">内设机构</p>
		<p class="light-title">(一)综合科</p>
		<div class="list">
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
		</div>
		<p class="light-title">(二)、土地征管科</p>
		<div class="list">
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
			<p>1、负责的是啊第三季</p>
		</div>
	</div>
</template>
<!-- 交通路线 -->
<template name="roate">
	<div class="overview-content">
		<p>sadasbdhsagdajgdaksygfsyu</p>
	</div>
</template>
<!-- 联系我们 -->
<template name="contactus">
	<div class="overview-content">
		<p class="main">副总经理：曹谈 电话：18928273927 邮箱：38@wqed.com</p>
		<p class="main">副总经理：曹谈 电话：18928273927 邮箱：38@wqed.com</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
		<p>副总经理：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈：曹谈</p>
	</div>
</template>