<!-- 公司注册 -->
<template name="coregister">
	<div class="container-pages">
		<div class="container-coregister">
			<div class="gap">
				{{>Template.dynamic template=coregister}}
			</div>
		</div>
	</div>
</template>
<template name="register">
		<p class="title">企业申办流程</p>
		<div class="coregister-infor">
			<div class="infor-process" style="background: url('/image/register/data/date_1.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_2.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_3.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_4.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_5.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_6.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_7.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_8.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_9.png');"></div>
			<div class="infor-process" style="background: url('/image/register/data/date_10.png');"></div>
		</div>
</template>

<!-- 特色服务 -->
<template name="specialService">
		<p class="title" style="border-bottom-width: 0;">特色服务</p>
		<div class="little-change" style="padding-top: 0;padding-bottom: 15px;margin-bottom: 30px;border-bottom:1px solid #c6c6c6;">
			<span class="span-news" val="matingservice">配套服务</span>
			<span class="string"></span>
			<span val="proxy">财税代理</span>
		</div>
		{{>Template.dynamic template=_special}}
</template>
<template name="matingservice">
	<div class="coregister-special">
		<div class="infor-special" style="background: url('/image/register/special/1.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/2.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>工业依托</p>
				<span>北部</span>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<span>东部</span>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/3.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="coregister-special" style="margin-top:30px;">
		<div class="infor-special" style="background: url('/image/register/special/1.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>大型卖场</p>
				<ul>
					<li>农工商超市</li>
					<li>乐家购物中心</li>
				</ul>
				<ul>
					<li>好又多超市</li>
					<li>农业银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/2.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>住宿、餐饮</p>
				<ul>
					<li>明哲大酒店</li>
					<li>海天渔村</li>
				</ul>
				<ul>
					<li>旗山大酒店</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/3.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>交通枢纽</p>
				<ul>
					<li>车墩长途客运站</li>
				</ul>
			</div>
		</div>
	</div>
</template>
<template name="proxy">
	<div class="coregister-special">
		<div class="infor-special" style="background: url('/image/register/special/1.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/2.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>工业依托</p>
				<span>北部</span>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<span>东部</span>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/3.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="coregister-special" style="margin-top:30px;">
		<div class="infor-special" style="background: url('/image/register/special/1.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/2.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>工业依托</p>
				<span>北部</span>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<span>东部</span>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
		<div class="infor-special" style="background: url('/image/register/special/3.jpg');"></div>
		<div class="infor-special">
			<div class="intrduce">
				<p>金融设施</p>
				<ul>
					<li>建设银行</li>
					<li>农村商业银行</li>
				</ul>
				<ul>
					<li>邮储银行</li>
					<li>农村银行</li>
				</ul>
				<ul>
					<li>上海银行</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<!-- 客户须知 -->
<template name="information">
		<p class="title">客户须知</p>
		<div class="imgload">
			<img src="/image/register/handle1.png" alt="">
			<img src="/image/register/rang1.png"  alt="">
			<img src="/image/register/standard1.png" alt="">
			<img src="/image/register/tax1.png" alt="">
			<img src="/image/register/open1.png" alt="">
			<img src="/image/register/operation1.png" alt="">
		</div>
		<div class="coregister-infor">
			<div class="infor-con" val="handle">
				<div>
					<img src="/image/register/handle.png" alt="">
					<p>办证资料</p>
				</div>
			</div>
			<div class="infor-con" val="range">
				<div>
					<img src="/image/register/rang.png"  alt="">
					<p>经营范围</p>
				</div>
			</div>
			<div class="infor-con" val="standard">
				<div>
					<img src="/image/register/standard.png" alt="">
					<p>收费标准</p>
				</div>
			</div>
			<div class="infor-con" val="tax">
				<div>
					<img src="/image/register/tax.png" alt="">
					<p>税率介绍</p>
				</div>
			</div>
			<div class="infor-con" val="open">
				<div>
					<img src="/image/register/open.png" alt="">
					<p>开业须知</p>
				</div>
			</div>
			<div class="infor-con" val="operation">
				<div>
					<img src="/image/register/operation.png" alt="">
					<p>常规运营须知</p>
				</div>
			</div>
		</div>
</template>
<!-- 经营范围 -->
<template name="range">
	<p class="title">经营范围</p>
	<div class="switch-title">
		<div class="textactive" val="Tradetype">贸易类</div>
		<div class="" val="Servicetype">服务类</div>
		<div class="" val="Producetype">生产类</div>
	</div>
	<div class="switch-content">
		{{>Template.dynamic template=_range}}
	</div>
</template>
<template name="Tradetype">
	<p class="switchtitle">普通贸易类</p>
	<p>保温材料、 五金交电 、金属材料、化工原料及产品（除危险品）、石油制品（不含成品油及危险品）、润滑油、润滑脂、水性表面处理剂、水性涂料、建筑材料、装饰材料（除危险品）、石材、木材、装璜材料（除危险品）、计算机配件及硬件、 文体用品 、劳防用品、通讯设备、电线电缆、日用百货、服装鞋帽、针纺织品、皮革制品、箱包、机电设备、通用机械设备及配件、 机电产品、音响器材、 摄影摄像器材 、计算机及配件 、玩具、水道配件、卫生洁具、仪器仪表、橡塑制品、玻璃制品、工艺品（除金银）、音响设备、制冷设备、办公用品、陶瓷制品、汽摩配件、灯具、不锈钢制品及器具、家具、化妆品、纸张、钢材、节能产品、防盗产品、监控装置等批发另售。</p>
	<p class="switchtitle">特种贸易类<small>（该类需办理食品流通许可证、需有实际经营地址）</small></p>
	<p>散装食品销售、预包装食品销售</p>
</template>
<template name="Servicetype">
	<p class="switchtitle">Servicetype普通贸易类</p>
	<p>保温材料、 五金交电 、金属材料、化工原料及产品（除危险品）、石油制品（不含成品油及危险品）、润滑油、润滑脂、水性表面处理剂、水性涂料、建筑材料、装饰材料（除危险品）、石材、木材、装璜材料（除危险品）、计算机配件及硬件、 文体用品 、劳防用品、通讯设备、电线电缆、日用百货、服装鞋帽、针纺织品、皮革制品、箱包、机电设备、通用机械设备及配件、 机电产品、音响器材、 摄影摄像器材 、计算机及配件 、玩具、水道配件、卫生洁具、仪器仪表、橡塑制品、玻璃制品、工艺品（除金银）、音响设备、制冷设备、办公用品、陶瓷制品、汽摩配件、灯具、不锈钢制品及器具、家具、化妆品、纸张、钢材、节能产品、防盗产品、监控装置等批发另售。</p>
	<p class="switchtitle">特种贸易类<small>（该类需办理食品流通许可证、需有实际经营地址）</small></p>
	<p>散装食品销售、预包装食品销售</p>
</template>
<template name="Producetype">
	<p class="switchtitle">Producetype普通贸易类</p>
	<p>保温材料、 五金交电 、金属材料、化工原料及产品（除危险品）、石油制品（不含成品油及危险品）、润滑油、润滑脂、水性表面处理剂、水性涂料、建筑材料、装饰材料（除危险品）、石材、木材、装璜材料（除危险品）、计算机配件及硬件、 文体用品 、劳防用品、通讯设备、电线电缆、日用百货、服装鞋帽、针纺织品、皮革制品、箱包、机电设备、通用机械设备及配件、 机电产品、音响器材、 摄影摄像器材 、计算机及配件 、玩具、水道配件、卫生洁具、仪器仪表、橡塑制品、玻璃制品、工艺品（除金银）、音响设备、制冷设备、办公用品、陶瓷制品、汽摩配件、灯具、不锈钢制品及器具、家具、化妆品、纸张、钢材、节能产品、防盗产品、监控装置等批发另售。</p>
	<p class="switchtitle">特种贸易类<small>（该类需办理食品流通许可证、需有实际经营地址）</small></p>
	<p>散装食品销售、预包装食品销售</p>
</template>