@index-green: #50b46d;
@index-blue: #1d3686;
@index-gray: #666666;
@helper-color: #ffffff;
@index-deepgreen: #325b40;
@index-red: #db565e;
@normal_red:#DE3B3B;
@normal_white:#FFFFFF;
@word_color:#999;
@border:#ececec;
@white:#FFFFFF;