@top: 260px;
@lineheight:22px;
@left-width:80.8%;
@right-width:19.2%;
@bigger-word:22px;
@small-word:14px;
@normal-word:16px;
@ppadding:12px;
@inforheight:264px;
@boxheight:258px;
@twidth:33.33%;
@specialheight:260px;

.helper{
	width: 100%;
	height: 48px;
	position: relative;
	top: 0;
	background-color: @index-blue;
	.search{
		text-align: end;
		padding-top: 11px;
		padding-right: 15px;
		.container;
		input[type=text]{
			.inputtext;
			border-style: solid;
		}
		button{
			border-style: solid;
			.helperbtn;
		}
	}
}
header{
	background-color:@white;
	position:relative;
	.container{
		height:80px;
		.logo{
			display:inline-block;
			*display: inline;
			zoom: 1; 
			width:45%;
			height:55px;
			padding-top:19px;
			vertical-align:top;
		}
		ul{
			width: 42%;
			// height:72px;
			margin-left:11.58%;
			display:inline-block;
			*display: inline;
			zoom: 1; 
			box-sizing:border-box;
			&:after{
				 content: ""; 
				 clear: both; 
				 display: block;
			}
			li{
				float:left;
				padding: 0 15px;
				padding-top:26px;
				padding-bottom:24px;
				font-size:16px;
				font-weight: 600;
				cursor: pointer;
				box-sizing: border-box;
				&:after{
					.after;
				}
				&:hover{
					color: @index-blue;
					li{
						color: @black;
					}
					background-color:@hover-white;
					border-bottom:5px solid @index-blue;
					ul{
						display:block;
					}
				}
				ul{
					display: none;
				    margin-top: 29px;
				    // height:40px;
				    width: 200%;
				    position: absolute;
				    z-index: 999;
				    background: white;
				    margin-left: -80.6%;
				    // &:after{
				    // 	content: ""; 
				    // 	clear: both; 
				    // 	display: block;
				    // }
					li{
						float:left;
						font-size:@small-word;
						padding-left:19px;
						padding-right:18px;
						padding-top:10px;
						padding-bottom:10px;
						&:after{
							.after;
						}
						&:first-child{
							margin-left:39.9%;
						}
						&:hover{
							border-bottom-width: 0;
							color:@index-blue;
						}
					}
				}
			}
		}
	}
}
footer{
	width:100%;
	position:relative;
	.container{
		padding-top:30px;
		padding-bottom:30px;
		.footer-list{
			display:inline-block;
			*display: inline;
			zoom: 1; 
			vertical-align: middle;
			width:19.64%;
			height:270px;
			box-sizing:border-box;
			border-left:1px solid @line-border;
			&:last-child{
				border-right:1px solid @line-border;
			}
			p{	
				a{
					&:hover{
						color:@index-blue;
					}
				}
				&:first-child{
					margin-left:14px;
					color:@index-blue;
					font-size:16px;
					font-weight:600;
					padding-top:0;
				}
				font-size:12px;
				color:@border-gray;
				padding-top:10px;
				padding-bottom:10px;
				text-align:center;
			}
		}
	}
	.copyright{
		background-color:@index-blue;
		.container{
			padding-top:15px;
			padding-bottom:15px;
			.copy{
				color:@white;
				font-size:12px;
				display:inline-block;
				*display: inline;
				zoom: 1; 
				width:30%;
				vertical-align:middle;
				p{
					&:first-child{
						padding-bottom:5px;
					}
				}
			}
			.footer-select{
				display:inline-block;
				*display: inline;
				zoom: 1; 
				width:69%;
				text-align:right;
				font-size:12px;
				select{
					margin-left: 50px;
					padding: 2px 2px;
				}
			}
		}
	}
}
section{
	.container-slider{
		background-color: #c6c6c6;
		.container-slider-inline{
			.container;
			.unslider{
				overflow: hidden;
				margin-bottom: -3px;
				.my-slider{
					margin-bottom:-3px;
					li{
						.slider-content{
							// height:90px;
							position:absolute;
							padding-left: 30px;
						    margin-top: 120px;
						    margin-left: 80px;
						    border-left:4px solid @index-blue;
						    p{
						    	padding-top:5px;
						    	padding-bottom:5px;
						    }
						    .title{
						    	padding-top:0;
						    	span{
						    		font-size:38px;
						    		font-weight:600;
						    		&:first-child{
						    			color:@index-blue;
						    		}
						    		&:last-child{
						    			color:@light-blue;
						    		}
						    	}
						    }
						    .detail{
						    	font-size:20px;
						    	color:@white;
						    	margin-bottom:10px;
						    }
						    a{
						    	background-color:transparent;
						    	border:1px solid @white;
						    	border-radius: 5px;
						    	color:@white;
						    	padding-top:5px;
						    	padding-bottom:5px;
						    	padding-left:10px;
						    	padding-right:10px;
						    }
						}
					}
				}
				.nexth{
					left: auto;
					right: 20px;
					top:@top;
					color:@white;
				}
				.prevh{
					top:@top;
					color:@white;
				}
				.unslider-nav{
					position:absolute;
					left:48%;
					padding:10px 0;
					ol{
						li{
							background-color:@index-gray;
							border-color:@index-gray;

						}
						.unslider-active{
							background-color:@index-blue !important;
							border-color:@index-blue !important;
						}
					}
				}
				
			}
		}
	}
	.container-content{
		background-color:@light-white;
		margin-top:50px;
		position:relative;
		.container-home{
			.container;
			background-color:@white;
			border-right:1px solid @border-gray;
			border-bottom:1px solid @border-gray;
			.left{
				width:@left-width;
				display:inline-block;
				*display: inline;
				zoom: 1; 
				box-sizing:border-box;
				.news{
					.border(@index-blue, @border-width, @border-gray);
					.content-title{
						span{
							cursor:pointer;
							&:first-child{
								padding-right:@normal-word;
							}
							&:hover{
								color:@index-blue;
							}
						}
						.span-news{
							// font-size:@bigger-word;
							color:@index-blue;
							.weight;
						}
					}
					.left-content{
						.pnews{
							padding-top:15px;
							padding-bottom:15px;
							font-size:@small-word;
							color:@newscolor;
							.weight;
							&:hover{
								color:@index-blue;
							}
						}
					}
				}
				.window{
					.border(@light-blue, @border-width, @border-gray);
					.span-active{
						color:@light-blue;
						font-size:@bigger-word;
						.weight;
					}
				}
				.transfer{
					.border(@index-blue, @border-width, @border-gray);
					.content-title{
						span{
							&:hover{
								color:@index-blue;
							}
							&:first-child{
								font-size:@bigger-word;
								padding-right:@normal-word;
								vertical-align:baseline;
								color:@index-blue;
								cursor:text;
							}
							cursor:pointer;
						}
						.active{
							color:@index-blue;
							// font-size:@bigger-word;
							.weight;
						}
					}
					.left-content{
						.transfer-img{
							float:left;
						}
						.transfer-text{
							display:inline-block;
							*display: inline;
							zoom: 1; 
							width: 68%;
							padding:0 20px;
							.transfer-detail{
								.customer{
									color:@index-blue;
									font-size:18px;
								}
								p{
									font-size:14px;
									line-height:22px;
									padding: 4px 0;
									padding-bottom:7px;
									font-weight:600;
									span{
										font-size:18px;
										color:@border-gray;
										float:right;
										font-weight:100;
										cursor:pointer;
									}
								}
							}
						}
					}
				}
			}
			.right{
				width:@right-width;
				float:right;
				.service{
					.border(@black, @border-width, @border-gray);
					.border-none-left;
					border-right-width:0;
					.right-content{
						.serviceimg{
							margin-bottom:-5px;
							.text{
								position:absolute;
								width:216px;
								p{
									color:@white;
									text-align:center;
									line-height: 146px;
								}
							}
						}
					}
				}
				.foucsus{
					.border(@light-blue, @border-width, @border-gray);
					.border-none-left;
					border-right-width:0;
					.content-title{
						span{
							color:@light-blue;
						}
					}
					.right-content{
						border-top:1px solid @border-gray;
						text-align:center;
						img{
							width:210px;
							height:210px;
						}
						p{
							text-align:center;
							font-weight:600;
						}
						.focusp{
							margin-top: 7px;
							color:@light-blue;
						}
					}
				}
			}
		}
	}
	.container-pages{
		background-color:@light-white;
		padding-top:30px;
		padding-bottom:30px;
		//园区概况
		.container-overview{
			background-color:@white;
			border-top:4px solid @index-blue;
			.container;
			.overview-title{
				.overview-img{
					display:inline-block;
					*display: inline;
					zoom: 1; 
					width:25%;
					text-align:left;
					vertical-align:top;
				}
				.title-content{
					display:inline-block;
					*display: inline;
					zoom: 1; 
					width:60%;
					padding:16px 0;
					padding-left:10px;
					p{
						padding-top:17px;
						padding-bottom:17px;
						&:first-child{
							font-size:@bigger-word;
							font-weight:600;
							color:@index-blue;
							padding-top:0;
						}
						&:last-child{
							padding-bottom:0;
						}
					}
				}
			}
			.overview-header{
				ul{
					border-bottom:1px solid @border-gray;
					.padding(20px);
					text-align:left;
					li{
						width: 10%;
						height:30px;
						padding-right:10px;
						padding-left: 10px;
						margin-left:-5px;
						display:inline-block;
						*display:inline;
						border-right:1px solid @border-gray;
						box-sizing:border-box;
						vertical-align:baseline;
						text-align:center;
						zoom: 1;
						&:last-child{
							border-right:0;
						}
						a{
							color:@black;
							vertical-align:-webkit-baseline-middle;
							*vertical-align:baseline;
							&:hover{
								font-size:@normal-word;
								color:@index-blue;
								.weight;
							}
						}
						.click{
							font-size:@normal-word;
							color:@index-blue;
							text-decoration: none;
							font-weight:600;
						}
					}

				}
			}
			.develop-content{
				padding-top:20px;
				padding-bottom:20px;
				width:100%;
				height:1152px;
				background:url('/image/overview/develop.png') no-repeat;
			}
			.overview-roate{
				.overview-img{
					.inline;
					width:40%;
					text-align:left;
					vertical-align:baseline;
				}
				.title-content{
					.inline; 
					width:50%;
					padding:16px 0;
					padding-left:10px;
					p{
						padding-bottom:17px;
						&:last-child{
							padding-bottom:0;
						}
					}
				}
			}
			.overview-content{
				padding-top:20px;
				padding-bottom:20px;
				div.list{
					padding-top:@ppadding;
					p{
						padding-top:0;
						padding-bottom:0;
						line-height:22px;
					}
				}
				p{
					font-size:@small-word;
					padding-top:@ppadding;
					padding-bottom:@ppadding;
					line-height:22px;
					color:@newscolor;
				}
				p.list{
					padding-top:0;
					padding-bottom:0;
					line-height:22px;
				}
				p.main{
					color:@light-blue;
				}
				p.title{
					font-size:20px;
					color:@index-blue;
					border-bottom:1px solid @border-gray;
				}
				p.light-title{
					font-size:@normal-word;
					color:@light-blue;
					.weight;
				}
			}
		}
		//企业注册
		.container-coregister{
			background-color:@white;
			border-top:4px solid @index-blue;
			.container;
			p.title{
				border-bottom:1px solid @border-gray;
			}
			.coregister-special{
				width:100%;
				height:@specialheight * 2;
				.borderall(@border-gray);
				.infor-special{
					.infor-box(@twidth, @specialheight);
					background-repeat: no-repeat;
					background-size: cover !important;
					.padding(20px);
					.intrduce{
						p{
							font-size:@normal-word;
							.weight;
							color:@light-blue;
							padding-bottom:20px;
						}
						span{
							font-size:@small-word;
							color:@border-gray;
						}
						ul{
							padding-top:4px;
							padding-bottom:20px;
							li{
								.inline;
								.borderall(@light-blue);
								font-size:@small-word;
								margin-right: 15px;
								color:@light-blue;
								padding:5px 10px;
							}
						}
					}
				}
			}
			.coregister-infor{
				width:100%;
				height:@inforheight * 2.5;
				padding-top:60px;
				.infor-process{
					.infor-box(@width, @boxheight);
					margin-bottom:20px;
					text-align:center;
				}
				.infor-con{
					border-left: 1px solid @border-gray;
					border-top: 1px solid @border-gray;
					float:left;
					width:33.3%;
					height:@inforheight;
					text-align:center;
					box-sizing:border-box;
					cursor:pointer;
					&:hover{
						background-color:@light-blue;
						border-width:0;
						>div{
							p{
								color:@white;
							}
						}
					}
					&:after{
						content:"";
						clear:both;
						display:block;
					}
					&:nth-child(3){
						border-right:1px solid @border-gray;
					}
					&:nth-child(4){
						border-bottom:1px solid @border-gray;
					}
					&:nth-child(5){
						border-bottom:1px solid @border-gray;
					}
					&:nth-child(6){
						border-right:1px solid @border-gray;
						border-bottom:1px solid @border-gray;
					}
					>div{
						width:@inforheight * 2;
						height:@inforheight;
						display:table-cell;
						vertical-align:middle;
						p{
							padding-top:10px;
							color:@light-blue;
							font-size:20px;
							font-weight:600;
						}
					}
				}
			}
		}
		//企业之家
		.container-cohome{
			background-color:@white;
			border-top:4px solid @index-blue;
			.container;
			p.title{
				font-size:@bigger-word;
				font-weight:600;
				color:@index-blue;
				padding-bottom:20px;
			}
			.cohome-title{
				margin-bottom:50px;
				padding-top:20px;
				padding-bottom:20px;
				border-top:1px solid @border-gray;
				border-bottom:1px solid @border-gray;
				.textactive{
					color:@index-blue;
				}
				>div{
					.inline;
					width:33%;
					border-right:1px solid @black;
					text-align:center;
					font-size:20px;
					font-weight:600;
					box-sizing:border-box;
					vertical-align:middle;
					cursor:pointer;
					&:last-child{
						border-right-width:0;
					}
					&:hover{
						color:@index-blue;
					}
				}
			}
			.cohome-show{
				padding-bottom:60px;
				>div{
						display:inline-block;
						*display:inline;
						width:49%;
						padding-bottom:50px;
						border-right:1px solid @border-gray;
						text-align:center;
						box-sizing:border-box;
						vertical-align:top;
						zoom: 1;
						.wrapper{
							width:300px;
							margin:0 auto;
							img{
								width:300px;
								height:220px;
							}
							p.title{
								text-align:center;
								padding-top:20px;
								padding-bottom:20px;
								font-size:18px;
								font-weight:600;
								color:@light-blue;
							}
							.intro{
								height:120px;
								p{
									text-align:left;
									font-size:14px;
									line-height:25px;
								}
							}
							.detail{
								padding-top:10px;
								padding-bottom:10px;
								text-align:end;
								a{
									padding: 2px 2px;
									font-size:@small-word;
									border:1px solid @border-gray;
									color:@border-gray;
									border-radius: 5px;
								}
							}
						}
						&:last-child{
							border-right-width:0;
						}
					}
			}
		}
		//扶持政策
		.container-download{
			.container;
			background-color:@white;
			border-bottom:1px solid @border-gray;
			border-right:1px solid @border-gray;
			border-left:1px solid @border-gray;
			.left{
				.common-left;
				border-top:4px solid @index-blue;
				border-right:1px solid @border-gray;
				.padding(20px);
				.left-title{
					padding-bottom:20px;
					span{
						font-size:24px;
						color:@index-blue;
						.weight;
					}
				}
				.search-left-content{
					padding-bottom: 20px !important;
					padding-top:20px !important;
					padding-right:0 !important;
					border-bottom-width:0 !important;
				}
				.left-content{
					padding-top:0;
					padding-left:0;
					// padding-right:0;
					padding-bottom:60px;
					border-bottom:1px solid @border-gray;
					a{
						p{
							padding-top:10px;
							padding-bottom:10px;
							&:first-child{
								margin-top:10px;
							}
							&:hover{
								color:@index-blue;
							}
							time{

							}
						}
					}
					.search{
						text-align:center;
						padding-top:10px;
						padding-bottom:10px;
						background-color:@light-white;
						input[type=text]{
							padding:8px 5px;
							width:70%;
						}
						button{
							background-color:@index-blue;
							border: none;
							color:@white;
							padding:9px 25px;
							text-align:center;
							font-size: 14px;
							margin-left:-12.8%;
						}
					}
				}
				.feedback{
					padding-top:0;
					padding-left:0;
					// padding-right:0;
					padding-bottom:60px;
					border-top:1px solid @border-gray;
					form{
						padding-top:40px;
						>div{
							padding-bottom:10px;
							&:last-child{
								padding-top:20px;
								padding-left:15%;
								input[type=submit]{
									width:12%;
									color: @white;
									background-color:@index-blue;
									border-width:0;
								}
							}
							label{
								display:inline-block;
								*display:inline;
								zoom: 1;
								width:15%;
								font-size:18px;
								font-weight:600;
								vertical-align:top;
							}
							input{
								width:70%;
								padding: 5px 5px;
							}
							textarea{
								width:70%;
								padding: 5px 5px;
								height:260px;
								vertical-align:top;
							}
						}
					}
				}
			}
			.right{
				.common-right;
				.padding(20px);
				border-top:4px solid @light-blue;
				.right-title{
					border-bottom:1px solid @border-gray;
					padding-bottom:20px;
					font-size:24px;
					color:@light-blue;
					.weight;
				}
				.right-content{
					a{
						p{
							padding-top:5px;
							padding-bottom:5px;
							&:first-child{
								margin-top:15px;
							}
							&:hover{
								color:@light-blue;
							}
							time{
								color:@black;
							}
						}
					}
					.more{
						font-size:14px;
						text-align:right;
						padding-top:10px;
						padding-bottom:70px;
						a{
							color:@border-gray;
						}
					}
					.weixinma{
						text-align:center;
						p{
							.weight;
							font-size:18px;
							color:@light-blue;
							padding-bottom:20px;
							line-height:30px;
							border-bottom:1px solid @border-gray;
						}
						img{
							width:180px;
							height:180px;
						}
					}
				}
			}
		}
		//媒体中心
		.container-media{
			.container;
			background-color:@white;
			border-bottom:1px solid @border-gray;
			border-right:1px solid @border-gray;
			border-left:1px solid @border-gray;
			.left{
				.common-left;
				border-top:4px solid @index-blue;
				border-right:1px solid @border-gray;
				.padding(20px);
				.change-title{
					span{
						.weight;
						padding-right:10px;
						padding-left:10px;
						&:first-child{
							padding-left:0;
							padding-right:15px;
						}
						&:hover{
							a{
								color:@index-blue;
							}
						}
					}
					.span-news{
						font-size:@normal-word;
						.weight;
						a{
							color:@index-blue;
						}
					}
					padding-bottom:20px;
				}
				.left-content{
					padding-top:0;
					padding-left:0;
					padding-bottom:60px;
					border-bottom:1px solid @border-gray;
					.content-news{
						padding-top:10px;
						padding-bottom:10px;
						border-bottom:1px solid @border-gray;
						>div{
							display:inline-block;
							*display:inline;
							zoom:1;
							text-align:left;
							vertical-align:middle;
						}
						.img{
							height:100px;
							img{
								width:100px;
								height:100px;
							}
						}
						.text{
							width:50%;
							padding-left:20px;
							padding-bottom:27px;
							p{
								padding: 0 0;
								&:first-child{
									padding-bottom:22px;
									font-size:18px;
									font-weight:600;
									color:@index-blue;
								}
							}
						}
						.time{
							padding-top:83px;
							width:35%;
						}
					}
					a{
						.content-news{
							&:hover{
								p{
									// color:transparent;
								}
							}
						}
						p{
							padding-top:10px;
							padding-bottom:10px;
							&:first-child{
								margin-top:10px;
							}
							&:hover{
								color:@index-blue;
							}
							time{
								color:@black;
							}
						}
					}
				}
			}
			.right-container{}
		}
		//新闻
		.container-news{
			.container;
			background-color:@white;
			border-bottom:1px solid @border-gray;
			border-right:1px solid @border-gray;
			border-left:1px solid @border-gray;
			.left{
				.common-left;
				border-top:4px solid @index-blue;
				border-right:1px solid @border-gray;
				.padding(20px);
				.left-title{
					padding-bottom:20px;
					span{
						font-size:24px;
						color:@index-blue;
						.weight;
					}
					time{
						float:right;
						color:@border-gray;
						font-size:@small-word;
						line-height:40px;
						&:after{
							.after;
						}
					}
				}
				.left-content{
					min-height: 470px;
					padding-top:20px;
					padding-right:0;
					padding-left:0;
					// padding-right:0;
					padding-bottom:60px;
					.allimg{
						text-align:center;
					}
					.imgleft{
						padding-top:4px;
						padding-bottom:4px;
					}
					p{
						line-height:@lineheight;
						font-size:14px;
						color:@newscolor;
					}

				}
			}
			.right{
				.common-right;
				.padding(20px);
				border-top:4px solid @light-blue;
				.right-title{
					border-bottom:1px solid @border-gray;
					padding-bottom:20px;
					font-size:24px;
					color:@light-blue;
					.weight;
				}
				.right-content{
					a{
						p{
							padding-top:5px;
							padding-bottom:5px;
							&:first-child{
								margin-top:15px;
							}
							&:hover{
								background-color:@light-blue;
							}
							time{
								color:@black;
							}
						}
					}
					.more{
						font-size:14px;
						text-align:right;
						padding-top:10px;
						padding-bottom:70px;
						a{
							color:@border-gray;
						}
					}
					.weixinma{
						text-align:center;
						p{
							font-size:18px;
							.weight;
							color:@light-blue;
							padding-bottom:20px;
							line-height:30px;
							border-bottom:1px solid @border-gray;
						}
						img{
							width:180px;
							height:180px;
						}
					}
				}
			}
		}
	}
}