@top: 260px;
@left-width:80.8%;
@right-width:19.2%;
.helper{
	width: 100%;
	height: 48px;
	position: relative;
	top: 0;
	background-color: @index-blue;
	.search{
		text-align: end;
		padding-top: 11px;
		padding-right: 15px;
		.container;
		input[type=text]{
			.inputtext;
		}
		button{
			.helperbtn;
		}
	}
}
header{
	background-color:@white;
	height:74px;
	.logo{
		display:inline-block;
		width:49%;
		height:55px;
		padding-top:19px;
		vertical-align:top;
	}
	ul{
		width: 50%;
		// float: right;
		display:inline-block;
		li{
			float:left;
			padding: 0 15px;
			padding-top:26px;
			padding-bottom:24px;
			font-size:16px;
			font-weight: 600;
			cursor: pointer;
			box-sizing: border-box;
			&:hover{
				color: @index-blue;
				background-color:@hover-white;
				border-bottom:5px solid @index-blue;
			}
		}
	}
}
section{
	.container-slider{
		background-color: #c6c6c6;
		.container{
			.unslider{
				margin-bottom: -3px;
				.nexth{
					left: auto;
					right: 20px;
					top:@top;
					color:@white;
				}
				.prevh{
					top:@top;
					color:@white;
				}
				.unslider-nav{
					display:none;
				}
			}
		}
		.my-nav{
			background-color:@white;
			padding:10px 0;
			.unslider-nav{
				ol{
					li{
						background-color:@index-gray;
					}
				}
			}
			.unslider-active{
				background: @index-blue;
				cursor: default;
			}
		}
	}
	.container-content{
		background-color:@light-white;
		.container{
			background-color:@white;
			border-right:1px solid @border-gray;
			border-bottom:1px solid @border-gray;
			.left{
				width:@left-width;
				display:inline-block;
				box-sizing:border-box;
				.news{
					.border(@index-blue, @border-width, @border-gray);
					.pnews{
						padding-top:15px;
						padding-bottom:15px;
						font-size:18px;
					}
				}
				.window{
					.border(@light-blue, @border-width, @border-gray);
				}
				.transfer{
					.border(@index-blue, @border-width, @border-gray);
					.left-content{
						.transfer-img{
							float:left;
						}
						.transfer-text{
							display:inline-block;
							width: 68%;
							padding:0 20px;
							.transfer-detail{
								.customer{
									color:@index-blue;
									font-size:18px;
								}
								p{
									padding: 4px 0;
									font-weight:600;
								}
							}
						}
					}
				}
			}
			.right{
				width:@right-width;
				float:right;
				.service{
					.border(@black, @border-width, @border-gray);
					.border-none-left;
					border-right-width:0;
					.right-content{
						.serviceimg{
							margin-bottom:-5px;
							.text{
								position:absolute;
								width:216px;
								p{
									color:@white;
									text-align:center;
									line-height: 146px;
								}
							}
						}
					}
				}
				.foucsus{
					.border(@light-blue, @border-width, @border-gray);
					.border-none-left;
					border-right-width:0;
					.right-content{
						border-top:1px solid @border-gray;
						img{
							width:210px;
							height:210px;
						}
						p{
							text-align:center;
							font-weight:600;
						}
						.focusp{
							margin-top: 7px;
							color:@light-blue;
						}
					}
				}
			}
		}
	}
}

footer{
	.container{
		padding-top:30px;
		padding-bottom:30px;
		.footer-list{
			display:inline-block;
			vertical-align: middle;
			width:16.26%;
			height:270px;
			box-sizing:border-box;
			border-left:1px solid @black;
			&:last-child{
				border-right:1px solid @black;
			}
			p{
				&:first-child{
					cursor:text;
					color:@index-blue;
					font-size:16px;
					font-weight:600;
					padding-top:0;
				}
				cursor:pointer;
				font-size:12px;
				padding-top:10px;
				padding-bottom:10px;
				color:@border-gray;
				text-align:center;
			}
		}
	}
	.copyright{
		.container;
	}
}