<template name="helper">
	<div class="helper">
		<div class="search">
			<input type="text" name="">
			<button type=""><i class="fa fa-search" aria-hidden="true"></i>搜索</button>
			<button type="">联系我们</button>
			<a href="/feedback" target="_blank" title=""><button type="">意见反馈</button></a>
		</div>
	</div>
</template>

<!-- 意见反馈 -->
<template name="feedback">
	<div class="container-pages">
		<div class="container-download">
			<div class="left">
				<div class="left-title">
					<span>意见反馈</span>
				</div>
				<div class="feedback">
					<form>
						<div><label>姓名</label><input type="text" name="" value=""></div>
						<div><label>联系方式</label><input type="text" name="" value=""></div>
						<div><label>反馈详情</label><textarea name=""></textarea></div>
						<div class="">
							<input type="submit" name="" value="提交反馈">
						</div>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-content">
					<div class="weixinma">
						<p>扫描二维码关注微信</p>
						<img src="/image/home/foucs.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>