<template name="footer">
	<footer>
		<div class="container">
			<div class="footer-list">
				<p>园区概况</p>
				<p><a href="/overview">园区简介</a></p>
				<p>发展历程</p>
				<p><a href="/overview/total">总体规划</a></p>
				<p>部门职能</p>
				<p>交通路线</p>
				<p>联系我们</p>
			</div>
			<div class="footer-list">
				<p>公司注册</p>
				<p>注册流程</p>
				<p>优惠政策</p>
				<p>特色服务</p>
				<p><a href="/coregister/information">客户须知</a></p>
			</div>
			<div class="footer-list">
				<p>企业之家</p>
				<p><a href="/cohome">企业展示</a></p>
			</div>
			<div class="footer-list">
				<p>企业服务</p>
				<p>教育培训</p>
				<p>人才服务</p>
				<p><a href="/service/problem">常见问题</a></p>
			</div>
			<div class="footer-list">
				<p>扶持政策</p>
				<p><a href="/support/search" title="">就业政策</a></p>
				<p><a href="/support/download">相关下载</a></p>
			</div>
			<div class="footer-list">
				<p>媒体中心</p>
				<p><a href="/media/parknews" title="">园区新闻</a></p>
				<p><a href="/media/parknotice" title="">园区公告</a></p>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="copy">
					<p>网站责任单位:上海莘莘学子创业园区</p>
					<p>&copy;2007-2016 莘莘学子创业园区, Inc. All rights reserved.</p>
				</div>
				<div class="footer-select">
					<select name="">
						<option value="">市政府部门网站</option>
						<option value="">市政府部门网站</option>
						<option value="">市政府部门网站</option>
						<option value="">市政府部门网站</option>
						<option value="">市政府部门网站</option>
					</select>
					<select name="">
						<option value="">区县政府部门网站</option>
						<option value="">区县政府部门网站</option>
						<option value="">区县政府部门网站</option>
						<option value="">区县政府部门网站</option>
					</select>
					<select name="">
						<option value="">本市重要部门网站</option>
						<option value="">本市重要部门网站</option>
						<option value="">本市重要部门网站</option>
						<option value="">本市重要部门网站</option>
					</select>
				</div>
			</div>
		</div>
	</footer>
</template>