<template name="footer">
	<footer>
		<div class="container">
			<div class="footer-list">
				<p>园区概况</p>
				<p>园区简介</p>
				<p>发展历程</p>
				<p>总体规划</p>
				<p>部门职能</p>
				<p>交通路线</p>
				<p>联系我们</p>
			</div>
			<div class="footer-list">
				<p>公司注册</p>
				<p>注册流程</p>
				<p>优惠政策</p>
				<p>特色服务</p>
				<p>客户须知</p>
			</div>
			<div class="footer-list">
				<p>企业之家</p>
				<p>企业展示</p>
			</div>
			<div class="footer-list">
				<p>企业服务</p>
				<p>教育培训</p>
				<p>人才服务</p>
				<p>常见问题</p>
			</div>
			<div class="footer-list">
				<p>扶持政策</p>
				<p>就业政策</p>
				<p>相关下载</p>
			</div>
			<div class="footer-list">
				<p>媒体中心</p>
				<p>园区新闻</p>
				<p>园区公告</p>
			</div>
		</div>
		<div class="copyright">
			
		</div>
	</footer>
</template>