<!-- 公告页 -->
<template name="notice">
	<div class="container-pages">
		<div class="container-news">
			{{>Template.dynamic template=notice}}
			<div class="right">
				<div class="right-title">
					<span>近期新闻</span>
				</div>
				<div class="right-content">
					{{#each policy}}
						<a href="" title=""><p>{{text}}</p></a>
					{{/each}}
					<p class="more"><a href="" title="">更多...</a></p>
					<div class="weixinma">
						<p>扫描二维码关注微信</p>
						<img src="/image/home/foucs.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="none">
	<div class="left">
		<div class="left-title">
			<span>企业公示信息抽查中常见问题汇总</span>
			<time>2016-01-20</time>
		</div>
		<div class="left-content">
			<p class="pweight">l、企业通讯地址如何填报?</p>
			<p>A：填报营业执照上住所或实际经营地址，不要填写代理记账机构联系地址、
			法定代表人家庭住址或其他不相关地址。</p>
			<p class="pweight">2、股东信息如何填报?</p>
			<p>A：按照企业最新股东信息准确、逐一填写，不允许只填报部分股东及出资信息。</p>
			<p class="pweight">3、认缴出资时间如何认定?</p>
			<p>A：根据公司最新章程中有关股东出资信息及吋间进行填写，认缴时间是指股东
			出资的最后时限，分多次认缴的，以最后一次认缴时间为准。实缴制企业涉及股
			权转让的股东，其认缴时间以前手股东认缴时间为准；认缴制企业涉及股权转让
			的股东，其认缴时间以章程为准。</p>
			<p class="pweight">4、实缴出资时间填报?</p>
			<p>A：实缴出资时间以验资报告或银行对账单上显示的进账时间为准。</p>
			<p class="pweight">5、企业财务状况填报?</p>
			<p>(1)  所有财务数据严格按照年度财务报表上数据填报，不允许四舍五入。</p>
			<p>(2)  对于实际不经营的企业，仍然需要提交财务报表(对确无财务账册的企业，依据《会计法》42条对不依法设置会计账簿的，取证后移送财政部门)</p>
			<p>(3)  年报资产状况以万元填报，务必核对。</p>
			<p class="pweight">6、纳税总额如何填报?</p>
			<p>A：除个人所得税外，其他税种均需列入汁算</p>
			<p class="pweight">7、对外投资及担保信息是否需要填报?</p>
			<p>A：必须填报。</p>
		</div>
	</div>
</template>
<template name="ntwo">
	<div class="left">
		<div class="left-title">
			<span>2015年企业年报公示通告</span>
			<time>2016-01-20</time>
		</div>
		<div class="left-content">
			<p>根据《企业信息公示暂行条例》规定：凡于2015年12月31日之前领取营业执照的各类企业，应当在2016年1月1日至2016年6月30日，通过上海市企业信用信息公示系统（http://gsxt.sh.gov.cn/notice/user/shHome）报送2015年度报告，并向社会公示。</p>
			<p>对于未按规定期限报送及公示年度报告的企业，工商行政管理部门将其载入经营异常名录或标注经营异常状态，并通过全国企业信用信息公示系统向社会公示。</p>
			<p>为避免因填报信息错误而导致企业载入经营异常名录或标注经营异常状态，园区将聘用第三方对各企业公示内容进行核对并及时反馈企业，恳请各企业尽快在2016年1-3月完成网上公示，以便及时核对信息和修改。
			委托园区代理公示的企业请将一证通及相关资料交至园区及办事处办理</p>
			<p class="pweight">联系方式：</p>
			<p>总部：北松公路5255号智兆大厦1楼大厅 57604262（蒋小姐 ）</p>
			<p>虹桥路办事处：徐汇区虹桥路808号B501室64477011（唐小姐 ）</p>
			<p>上海莘莘学子创业园</p>
			<p>2016年1月</p>
		</div>
	</div>
</template>
<template name="nthree">
	<div class="left">
		<div class="left-title">
			<span>2015年度企业财务会计决算工作通知</span>
			<time>2016-01-20</time>
		</div>
		<div class="left-content">	
			<p>根据《中华人民共和国会计法》和《企业财务会计报告条例》及上海市财政局《关于印发2015年度地方企业财务会计决算报表格式和编制说明的通知》精神，依照松江区财政局年报报送要求，年产值500万元以上私营企业应将年度决算报表报送至所在私营经济小区，由小区负责收集、审核并汇总上报区财政局。请各单位于2015年3月底前将后缀名为.jio的数据文件文件以附件形式发送到E-mail:532339159@qq.com，主题请注明**公司（企业名称简称）年报，附言请写明具体联系人及联系电话。此项工作涉及企业信用及相关扶持资金，请各单位配合执行，在规定时间内完成.</p>
			<p>相关软件下载地址：http://www.czj.sh.gov.cn/zys_8908/bsfw_9071/xzzx_9094/hjqychbb_9101/201601/t20160108_172277.shtml</p>
			<p class="pweight">联系电话：57603969 （潘会计）    57602927 （张会计）</p>
			<p>上海莘莘学子创业园</p>
			<p>2016年1月20日</p>
		</div>
	</div>
</template>

<template name="nfour">
	<div class="left">
		<div class="left-title">
			<span>金税三期上海个人所得税代扣代缴系统上线告知单</span>
			<time>2016-01-05</time>
		</div>
		<div class="left-content">
			<p>尊敬的纳税人：</p>
			<p>本市将于2016年2月1日起正式上线金税三期个人税收管理系统中的个人所得税代扣代缴功能，届时将启用上海个人所得税代扣代缴系统，纳税人须使用该系统进行个人所得税代扣代缴申报。为便于您正确掌握新系统的操作方法，请及时关注以下途径获取相关培训资料，或寻求必要帮助。</p>
			<p>1.网上下载培训课件</p>
			<p>请您在2016年1月申报结束后，通过eTax@SH网上申报软件进行个税系统软件的自动下载并安装。您可以登录松江税务子网站（http://www.tax.sh.gov.cn/sjtax/）“金税三期个人所得税申报系统升级宣传”专栏下载个人所得税申报表填表说明、系统软件、操作手册等相关资料。您可以登录上海税务官方网站“税收宣传一纳税人学堂一视频解读一个人所得税申报查看”栏目（http://www.tax.sh.gov.cn/pub/ssxc/wskt/grsdssb/）下载新系统的培训辅导视频、说明文档和案例分析等课件。您可以登录金税三期个税系统服务商（上海税友）官方网站（http://sh.servyou.com.cn），官方微信（shservyouf）获取个人所得税申报表填表说明、系统软件、操作手册、学习视频、常见问题等相关资料。 </p>
			<p>2. 电话咨询</p>
			<p>您可以致电12366松江远程或各主管税务所，对新系统启用的相关问题进行咨询。您可以致电金税三期个税系统服务商（上海税友）服务咨询电话（40071-12366），寻求新系统操作使用方面的帮助。</p>
			<p>3.现场咨询</p>
			<p>您可以前往松江税务办税大厅（松江区莘砖公路258号）、各主管税务所、金税三期个税系统服务商（上海税友）驻办税服务厅服务点现场咨询解决疑难问题。</p>
			<p>上海莘莘学子创业园</p>
			<p>2016年1月</p>
		</div>
	</div>
</template>

<template name="nfive">
	<div class="left">
		<div class="left-title">
			<span>关于配合做好“税务数据质量管理”工作随访的通知</span>
			<time>2015-12-04</time>
		</div>
		<div class="left-content">
			<p>各企业：</p>
			<p>为提高纳税人报送数据的准确性和真实性，2015年4月起，松江区经委和松江区税务局通过政府购买服务的方式，委托上海泰彦税务师事务所开展了“税务数据质量管理”的试点工作。现为全面评估试点工作成效，松江区财政局委托第三方中介机构“上海闻政咨询管理公司”，就此项工作开展情况做全面调查评价，并将出具报告。</p>
			<p>届时“上海闻政咨询管理公司”将通过发放问卷调查、电话随访等形式，直接向受过“税务数据质量管理”服务的企业相关联系人随访。烦请各企业积极配合支持“上海闻政咨询管理公司”的工作，同时请如实填报相关材料。</p>
			<p>上海莘莘学子创业园</p>
			<p>2015年12月3日</p>
		</div>
	</div>
</template>