<!-- 企业之家 -->
<template name="cohome">
	<div class="container-pages">
		<div class="container-cohome">
			<p class="title">企业之家</p>
			<div class="cohome-title">
				<div class="active" val="homeTrade">贸易型企业</div>
				<div class="" val="homeService">服务型企业</div>
				<div class="" val="homeProduce">生产型企业</div>
			</div>
			<div class="cohome-show">
				{{>Template.dynamic template=_show}}
			</div>
		</div>
	</div>
</template>

<template name="homeTrade">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>

<template name="homeService">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海11德皓有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>

<template name="homeProduce">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓66有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓有限公司</p>
			<div class="intro">
				<p>上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上海德皓有限公司上</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>