<!-- 企业之家 -->
<template name="cohome">
	<div class="container-pages">
		<div class="container-cohome">
			<div class="gap">
				<p class="title">企业之家</p>
				<div class="cohome-title">
					<div class="textactive" val="homeTrade">贸易型企业</div>
					<div class="" val="homeService">服务型企业</div>
					<div class="" val="homeProduce">生产型企业</div>
				</div>
				<div class="cohome-show">
					{{>Template.dynamic template=_show}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="homeTrade">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海德皓有限公司</p>
			<div class="intro">
				<p>公司成立于2000年，总部位于上海，在苏州，北京，广州都设立了分支机构，公司专业于工业包装的整体设计，并提供 优质的包装材料以及完善的全国的服务。</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海吉瀛日用品有限公司</p>
			<div class="intro">
				<p>上海吉瀛日用品有限公司系专业制造日用品企业。企业已具备宽敞厂房，多年的日用品生产经验，雄厚的生产技术和市场基础，本公司主要生产家具护垫，家用粘钩，家用清洁工具等制品。</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>

<template name="homeService">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海美林阁餐饮经营管理有限公司</p>
			<div class="intro">
				<p>上海美林阁餐饮经营管理有限公司、上海美林阁酒店管理有限公司旗下拥有十家酒店及酒家子公司，包括长航美林阁大酒店（三星级）等</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海创远信息技术股份有限公司</p>
			<div class="intro">
				<p>创远仪器是中国优秀的无线通信及微波网络测试仪器和解决方案提供商，重点关注并涉足有关产品和方案的研究开发、生产制造、市场运营和售后服务。</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>

<template name="homeProduce">
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海百川连接器有限公司</p>
			<div class="intro">
				<p>上海百川连接器有限公司，寓意“海纳百川、有容乃大”，成立于2000年，公司地处上海松江开发区，占地面积15,000M2，厂房面积10，000多㎡</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
	<div>
		<div class="wrapper">
			<img src="/image/home/transfer/trans.jpg" alt="">
			<p class="title">上海瑞斯乐复合材料有限公司</p>
			<div class="intro">
				<p>上海瑞斯乐复合材料有限公司成立于2002年，是隶属于上海振兴铝业有限公司的全资子公司，是一家从事源于欧洲风格的安全进户门及彩铝门窗生产、营销及服务的专业化公司。</p>
			</div>
			<div class="detail">
				<a href="" title="">点击详情</a>
			</div>
		</div>
	</div>
</template>