<template name="paginator">
	<div class="jqPaginator">
        <div id="jqPaginator" class="pagination">
        	<a class="first" href="javascript:void(0);">
        	<i class="fa fa-angle-double-left" aria-hidden="true"></i>
        	</a>
            <a class="prev" href="javascript:void(0);"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="javascript:void(0);" jp-role="page"></a>
            <a class="next" href="javascript:void(0);" ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="last" href="javascript:void(0);">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
	</div>
</template>
